/* ------------------------------------------------------------------------- */
/* G Review Grid 5 */
/* ------------------------------------------------------------------------- */

#g-review {

  &.layout_style-8 {
    .g-review {
      padding: 29px 30px 32px;
      border-radius: 16px;
      opacity: 1;
      box-shadow: 0 5px 10px rgba(0,0,0,0) !important;
      background: black;
      overflow: hidden;
      text-align: center;

      .gr-inner-header {
        img {
          &.gr-profile {
            display: block;
            margin: 0 auto 9px;
            filter: grayscale(.8);
          }
          &.gr-google {
            width: 20px;
            height: 20px;
          }
        }
        p {
          flex-basis: 100%;
          br {
            display: none;
          }
          a {
            display: block;
            margin-bottom: 4px;
            color: white;
          }
        }
        .gr-stars {
          img {
            margin-right: 7px !important;
            filter: hue-rotate(45deg);
          }
          .time {
            margin-left: 5px;
            color: #9f9f9f;
          }
        }
      }

      .gr-inner-body {
        max-height: 76px;
        overflow: auto;

        p {
          margin: 18px 0 4px;
          font-size: 14px;
          line-height: 1.36;
          letter-spacing: 0;
          text-align: center;
          color: white;
        }

        .mCSB_scrollTools {
          background: rgb(255 255 255 / 16%) !important;
          .mCSB_draggerContainer {
            .mCSB_dragger {
              .mCSB_dragger_bar {
                background: rgb(255 255 255 / 20%) !important;
              }
              .mCSB_draggerRail {
              }
            }
          }
        }
      }
    }
    .swiper {
      padding-top: 25px;
      .swiper-slide .g-review {
        -webkit-transition: all .4s;
        transition: all .4s;
      }
    }
  }
}
