/* ------------------------------------------------------------------------- */
/* G Review Grid 1 */
/* ------------------------------------------------------------------------- */

body #g-review.layout_style-1 .g-review {
  padding: 30px;
  border-radius: 16px;
  opacity: 1;
}

body #g-review.layout_style-1 .gr-inner-header img.gr-profile {
  margin: 0 20px 10px 0;
  width: 50px;
  height: 50px;
}

body #g-review.layout_style-1 .gr-inner-header p {
  position: relative;
  top: -1px;
  flex-basis: calc(100% - 75px);
}

body #g-review.layout_style-1 .gr-inner-header p a {
  padding-right: 20px;
}

body #g-review.layout_style-1 .g-review .gr-stars img {
  margin-right: 5px !important;
}

body #g-review.layout_style-1 .g-review .gr-stars .time {
  margin-left: 5px;
}

body #g-review.layout_style-1 .gr-inner-header img.gr-google {
  width: 20px;
  height: 20px;
}
body #g-review.layout_style-1 .gr-inner-body {
  max-height: 76px;
  overflow: auto;
}
body #g-review.layout_style-1 .gr-inner-body p {
  margin: 0 0 4px;
  text-align: left;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0;
  color: rgba(0,0,0,0.6);
}
body #g-review.layout_style-1 .swiper-button-next,
body #g-review.layout_style-1 .swiper-button-prev {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

body #g-review.layout_style-1 .g-review {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
}

/*
@media (max-width: 1279px) {
  body #g-review.layout_style-1 {
    max-width: 100%;
    padding: 0 20px;
    gap: 15px;
  }
}
@media (max-width: 1199px) {
  body #g-review.layout_style-1 {
    max-width: 100%;
    padding: 0 0;
    gap: 10px;
  }
}
@media (max-width: 1023px) {
  body #g-review.layout_style-1 .g-review {
    padding: 15px;
    border-radius: 8px;
  }
}


 */
