/* ------------------------------------------------------------------------- */
/* Swiper */
/* ------------------------------------------------------------------------- */

#g-review {

  &.layout_style-1 {
    .g-review {
      min-height: 210px;
    }
  }
  &.layout_style-2 {
    .g-review {
      min-height: 255px;
    }
  }
  &.layout_style-3 {
    .g-review {
      min-height: 255px;
    }
  }
  &.layout_style-4 {
    .g-review {
      min-height: 255px;
    }
  }
  &.layout_style-5 {
    .g-review {
      min-height: 255px;
    }
  }


  .swiper {
    padding: 0 0 100px 0;
    max-width: 100%;

    .swiper-wrapper {
      .swiper-slide {
        .g-review {;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
          margin: 13px 10px;
          box-sizing: border-box;
        }
      }


    }
    .slider-prev-next-wrapper {

      .swiper-button-next,
      .swiper-button-prev {
        -webkit-transition: all .4s;
        transition: all .4s;

        position: absolute;
        margin-top: 120px;
        width: 40px;
        height: 40px;
        color: black;
        border: 1px solid #bbbbbb;
        border-radius: 50%;
        background: #FFFFFF 0% 0% no-repeat padding-box;

        &:after{
          font-size: 18px;
          font-weight: bold;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
