/* ------------------------------------------------------------------------- */
/* Swiper */
/* ------------------------------------------------------------------------- */

body #g-review .swiper-slide .g-review {
	margin: 0 3px;
}
body #g-review .swiper {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 60px;
	max-width: 100%;
}
body #g-review .swiper .g-review {
	box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
	height: auto !important;
}
body .swiper-button-next,
body .swiper-button-prev {
	margin-top: 9px;
	-webkit-transition: all .4s;
			transition: all .4s;
}
body .swiper-button-next:hover,
body .swiper-button-prev:hover {
	opacity: 0.7;
}
body .swiper-button-next:after {
	position: relative;
	left: 2px;
	margin-left: 0;
}
body .slider-prev-next-wrapper {
	left: calc(50% - 15px);
}
@media (max-width: 1023px) {
	body #g-review .swiper-slide .g-review {
		margin: 0;
	}
	body #g-review .swiper {
		padding-left: 2%;
		padding-right: 2%;
		padding-bottom: 25px;
		max-width: 96%;
	}
}
@media (max-width: 767px) {
	body #g-review .swiper {
		padding-left: 3.5%;
		padding-right: 3.5%;
		max-width: 93%;
	}
}
