#g-review {
  &.badge {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    z-index: 9999;

    * {
      font-family: inherit;
    }

    .g-badge {
      display: block;
      position: relative;
      width: 220px;
      height: 52px;
      background-color: white;
      border-color: black;
      border-width: 1px;
      border-style: solid;
      border-bottom-left-radius: 26px;
      border-top-left-radius: 26px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

      .g-logo {
        position: absolute;
        left: 15px;
        top: 10px;
        width: 32px;
        height: 32px;
      }

      .g-label {
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: grey;
        position: absolute;
        top: 4px;
        right: 19px;
        display: block;
      }

      .grwp_stars-wrapper {
        display: flex;
        gap: 3px;
        position: absolute;
        bottom: 9px;
        right: 55px;

        img {
          max-width: 16px;
        }
      }

      .g-rating {
        position: absolute;
        right: 19px;
        bottom: 8px;
        color: #fabb0a;
        font-size: 18px;
        font-weight: 800;
        line-height: 1;
      }
    }
  }
}

.g-review-sidebar {
  &.hide {
    visibility: hidden;
    right: -450px !important;
  }

  * {
    font-family: inherit;
  }

  visibility: visible;
  position: fixed;
  margin: 0 !important;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 450px !important;
  transition: all .3s ease-in-out;
  background-color: #f2f2f2;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 100000;

  &.right {
    right: 0;
  }

  .grwp-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    height: 100px;
    background: white;
    padding: 16px 32px;
    position: relative;
    font-weight: 600;
    font-size: 18px;

    .business-title {
      flex-basis: 100%;
      line-height: 1.2em;
    }

    .grwp_stars-wrapper {
      display: flex;
      gap: 4px;

      img {
        max-width: 20px;
      }
    }
    .rating {
      color: #fabb0a;
      font-size: 19px;
      font-weight: 800;
      line-height: 1;
    }
    .grwp_verified {
      width: 100%;

      > a {

        text-decoration: none;
        position: relative;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, .6);
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        text-shadow: none;
        font-size: 14px;
        margin-top: 10px;
        display: inline-block;
        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }

        > img {
          width: 25px;
          height: auto;
          max-width: 25px;
          outline: none;
          border: none;
          box-shadow: none;
          position: absolute;
          top: -3px;
          right: -32px;
        }
      }
    }

    .grwp-close {
      &:after {
        content: '✕';
        display: block;
        top: 32px;
        right: 32px;
        position: absolute;
        cursor: pointer;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #b7b7b7 #e5e5e5;
  }

  ::-webkit-scrollbar-track {
    background: #e5e5e5;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #b7b7b7;
    border-radius: 10px;
    border: 3px none #ffffff;
  }

  .grwp-sidebar-inner {
    overflow-y: scroll;
    height: calc(100% - 128px);

    .g-review {
      padding: 32px;
      border-bottom: 1px solid #e6e6e6;
      .gr-inner-header {
        position: relative;
        display: flex;
        flex-flow: row wrap;

        .gr-profile {
          margin-right: 10px;
          width: 50px;
          height: 50px;
        }

        .gr-google {
          position: absolute;
          right: 0;
          top: 0;
        }

        p {
          margin: 0;
          width: calc(100% - 60px);
          a {
            text-decoration: none;
            font-size: 16px;
            color: black;
          }
          .gr-stars {
            display: flex;
            justify-content: space-between;

            .stars-wrapper {
              min-width: 110px;
              display: flex;
              gap: 4px;

              img {
                max-width: 20px;
              }
            }
            .time {
              color: #bbbbbb;
              font-size: 14px;
              line-height: 36px;
            }
          }
        }
      }
      .gr-inner-body {
        p {
          color: #686767;
          font-size: 16px;
          line-height: 1.5em;
        }
      }
    }
  }
}
