/* ------------------------------------------------------------------------- */
/* General styles for reviews
/* ------------------------------------------------------------------------- */

#g-review:not(.badge) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 30px;
  margin: 30px auto;
  padding: 0;

  .g-review {
    padding: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0 7px 20px #00000029;
    border-radius: 16px;
    opacity: 1;
    box-sizing: border-box;
    font-family: inherit;

    .gr-inner-header {
      display: flex;
      flex-flow: row wrap;
      position: relative;

      p {
        margin: 0;
        flex-basis: calc(100% - 60px);
        font-size: 16px;
        line-height: 1.5;

        a {
          text-decoration: none;
          font: normal normal bold 18px/22px Roboto;
          letter-spacing: 0;
          color: #5791FF;
        }
      }

      .gr-google {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
      }
    }

    .gr-stars {
      justify-content: space-between;
      gap: 5px;

      img {
        display: inline-block !important;
        width: 18px !important;
        height: 18px !important;
        margin: 0 10px 0 0 !important;
        vertical-align: middle !important;
      }
      .time {
        vertical-align: middle;

        font: normal normal normal 14px/17px Roboto;
        letter-spacing: 0;
        color: #0000004D;
      }
    }

    ::-webkit-scrollbar {
      width: 7px;
      border-radius: 10px;
    }
    * {
      scrollbar-width: thin;
      scrollbar-color: #b7b7b7 #e5e5e5;
    }

    ::-webkit-scrollbar-track {
      background: #e5e5e5;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #b7b7b7;
      border-radius: 10px;
      border: 3px none #ffffff;
    }

    .gr-inner-body {
      margin-top: 25px;
      padding-right: 10px;

      p {
        margin: 0 0 16px 0;
        text-align: left;
        font-size: 14px;
        line-height: 1.36;
        letter-spacing: 0;
        color: black;
      }
    }
  }
}
