/* ------------------------------------------------------------------------- */
/* General styles for reviews
/* ------------------------------------------------------------------------- */


#g-review.hide_date .time,
.g-review-sidebar.hide_date .time {
  display: none !important;
}

#g-review:not(.badge) {

  &.grwp_grid {
    .grwp_body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
      gap: 30px;
      margin: 30px auto;
      padding: 0;
    }
  }

  .g-review {
    padding: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0 7px 20px #00000029;
    border-radius: 16px;
    opacity: 1;
    box-sizing: border-box;
    font-family: inherit;

    .gr-inner-header {
      display: flex;
      flex-flow: row wrap;
      position: relative;

      p {
        margin: 0;
        flex-basis: calc(100% - 60px);
        line-height: 1.5;

        br {
          display: none;
        }

        > span:first-of-type {
          text-decoration: none;
          font-family: inherit;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0;

          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        a {
          text-decoration: none;
          font-family: inherit;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0;
          color: #5791FF;

          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .gr-google {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
      }
    }

    .gr-stars {
      justify-content: space-between;
      gap: 5px;

      img {
        display: inline-block !important;
        width: 18px !important;
        height: 18px !important;
        margin: 0 10px 0 0 !important;
        vertical-align: middle !important;
      }

      .time {
        vertical-align: middle;

        //font: normal normal normal 14px/17px inherit;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        font-family: inherit;
        letter-spacing: 0;
        color: #0000004D;
      }
    }

    @supports not selector(::-webkit-scrollbar) {
      * {
        scrollbar-width: thin;
        scrollbar-color: #b7b7b7 #e5e5e5;
      }
    }

    ::-webkit-scrollbar {
      width: 7px;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #e5e5e5;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #b7b7b7;
      border-radius: 10px;
      border: 3px none #ffffff;
    }

    .gr-inner-body {
      margin-top: 25px;
      padding-right: 10px;

      p {
        margin: 0 0 16px 0;
        text-align: left;
        font-size: 14px;
        font-family: inherit;
        line-height: 1.36;
        letter-spacing: 0;
        color: black;
      }
    }
  }
}


/**
 * Temporary fixes for missing place_info
 */
/*
#g-review {
  .grwp_header {
    display: none !important;
  }
  .g-badge {
    .g-rating {
      display: none !important;
    }
  }
}
.g-review-sidebar {
  .grwp-header {
    .business-title,
    .grwp_stars-wrapper,
    .rating {
      display: none !important;
    }
  }
}
*/
