/* ------------------------------------------------------------------------- */
/* G Review Grid 3 */
/* ------------------------------------------------------------------------- */

#g-review {
  &.layout_style-3 {
    .g-review {
      padding: 29px 30px 32px;
      border-radius: 16px;
      opacity: 1;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0) !important;
      overflow: hidden;
      text-align: center;

      .gr-inner-header {
        .gr-profile {
          display: block;
          margin: 0 auto 9px;
        }

        .gr-google {

        }

        p {
          flex-basis: 100%;

          br {
            display: none;
          }

          a {
            display: block;
            margin-bottom: 4px;
          }

          .gr-stars {
            img {
              margin-right: 7px !important;
            }
          }
        }
      }

      .gr-inner-body {
        max-height: 76px;
        overflow: auto;

        p {
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    .swiper {
      padding-top: 25px;

      .swiper-slide .g-review {
        -webkit-transition: all .4s;
        transition: all .4s;
      }

    }
  }
}
