/* ------------------------------------------------------------------------- */
/* G Review Grid 7 */
/* ------------------------------------------------------------------------- */

#g-review {

  &.layout_style-7 {
    .g-review {
      padding: 29px 30px 32px;
      border-radius: 5px;
      opacity: 1;
      box-shadow: 0 0 10px rgb(0 0 0 / 10%) !important;
      background-color: white;
      text-align: center;
      margin-bottom: 25px;

      .gr-inner-header {
        margin-top: 16px;

        img {
          &.gr-profile {
            display: block;
            margin: 0 auto 9px;
            position: absolute;
            top: -70px;
            left: calc(50% - 25px);
          }
          &.gr-google {
            width: 20px;
            height: 20px;
            right: -20px;
            top: -30px;
          }
        }
        p {
          flex-basis: 100%;
          br {
            display: none;
          }
          a {
            display: block;
            margin-bottom: 4px;
            color: black;
          }
        }
        .gr-stars {
          display: flex;
          flex-direction: column-reverse;

          img {
            margin-right: 3px !important;
          }
          .time {
            margin-left: 5px;
          }
        }
      }

      .gr-inner-body {
        max-height: 76px;
        overflow: auto;

        p {
          margin: 18px 0 4px;
          font-size: 14px;
          line-height: 1.36;
          letter-spacing: 0;
          text-align: center;
          color: rgba(0,0,0,0.6);
        }
      }
    }
    .swiper {
      padding-top: 25px;
      .swiper-slide .g-review {
        margin-top: 26px !important;
        -webkit-transition: all .4s;
        transition: all .4s;
      }
    }
  }
}
