/* ------------------------------------------------------------------------- */
/* G Review Grid 6 */
/* ------------------------------------------------------------------------- */

#g-review {

  &.layout_style-6 {
    .g-review {
      padding: 29px 30px 32px;
      border-radius: 0;
      opacity: 1;
      box-shadow: 0 5px 10px rgba(0,0,0,0) !important;
      background-color: #e3e3e3;
      overflow: hidden;
      text-align: left;
      min-height: 210px;

      .gr-inner-header {
        flex-flow: row nowrap;
        img {
          &.gr-profile {
            display: block;
            margin: 0 16px 9px 0;
          }
          &.gr-google {
            width: 20px;
            height: 20px;
          }
        }
        p {
          flex-basis: 100%;
          br {
            display: none;
          }
          a {
            display: block;
            margin-bottom: 4px;
            color: black;
          }
        }
        .gr-stars {
          img {
            margin-right: 3px !important;
          }
          .time {
            margin-left: 5px;
          }
        }
      }

      ::-webkit-scrollbar-track {
        background: white;
      }
      * {
        scrollbar-color: #b7b7b7 #ffffff;
      }
      .gr-inner-body {
        max-height: 76px;
        overflow: auto;

        p {
          margin: 18px 0 4px;
          font-size: 14px;
          line-height: 1.36;
          letter-spacing: 0;
          color: rgba(0,0,0,0.6);
        }
      }
    }
    .swiper {
      padding-top: 25px;
      .swiper-slide .g-review {
        -webkit-transition: all .4s;
        transition: all .4s;
      }
    }
  }
}
