/* ------------------------------------------------------------------------- */
/* G Review Grid 5 */
/* ------------------------------------------------------------------------- */

#g-review {

  &.layout_style-5 {
    .g-review {
      padding: 29px 30px 32px;
      border-radius: 16px;
      opacity: 1;
      //border: 1px solid rgba(0,0,0,0.2);
      box-shadow: 0 5px 10px rgba(0,0,0,0) !important;
      background: linear-gradient(45deg, #F6F2F2, #D9D9D9);
      overflow: hidden;
      text-align: center;

      .gr-inner-header {
        img {
          &.gr-profile {
            display: block;
            margin: 0 auto 9px;
            filter: grayscale(.8);
          }
          &.gr-google {
            width: 20px;
            height: 20px;
          }
        }
        p {
          flex-basis: 100%;
          br {
            display: none;
          }
          a {
            display: block;
            margin-bottom: 4px;
            color: black;
          }
        }
        .gr-stars {
          img {
            margin-right: 7px !important;
          }
          .time {
            margin-left: 5px;
          }
        }
      }

      .gr-inner-body {
        max-height: 76px;
        overflow: auto;

        p {
          margin: 18px 0 4px;
          font-size: 14px;
          line-height: 1.36;
          letter-spacing: 0;
          text-align: center;
          color: rgba(0,0,0,0.6);
        }
      }
    }
    .swiper {
      padding-top: 25px;
      .swiper-slide .g-review {
        -webkit-transition: all .4s;
        transition: all .4s;
      }
    }
  }
}
