/* ------------------------------------------------------------------------- */
/* G Review Grid 5 */
/* ------------------------------------------------------------------------- */

#g-review {
  &.layout_style-8 {
    .g-review {
      padding: 29px 30px 32px;
      border-radius: 16px;
      opacity: 1;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0) !important;
      background: black;
      overflow: hidden;
      text-align: center;
      min-height: 256px;

      .gr-inner-header {
        img {
          &.gr-profile {
            display: block;
            margin: 0 auto 9px;
            filter: grayscale(.8);
          }

          &.gr-google {

          }
        }

        p {
          flex-basis: 100%;

          br {
            display: none;
          }

          a {
            margin-bottom: 4px;
            color: white;
          }
        }

        .gr-stars {
          flex-wrap: wrap;
          display: flex;
          align-items: flex-end;
          justify-content: center;

          img {
            margin-right: 7px !important;
            filter: hue-rotate(45deg);
          }

          .time {
            color: #9f9f9f;
          }
        }
      }

      .gr-inner-body {
        max-height: 76px;
        overflow: auto;

        p {
          color: white;
        }
      }
    }

    .swiper {
      padding-top: 25px;

      .swiper-slide .g-review {
        -webkit-transition: all .4s;
        transition: all .4s;
      }
    }
  }
}
