/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.serp-container {
    display: flex;
    align-items: center;
}

.serp-search {
    display: inline-block;
}

.serp-results {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 2px;
    max-height: 500px;
    max-width: 348px;
    overflow: auto;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 2px 15px -3px rgba(156,156,156,0.65);
    box-shadow: 0px 2px 15px -3px rgba(156,156,156,0.65);
    display: none;
}

.serp-results .serp-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin: 0 !important;
    transition: background-color .3s;
    cursor: pointer;
}

.serp-results .serp-result:hover {
    background-color: #e0e0e0;
}

.serp-results .serp-result input[type="radio"] {
    float: right;
    order: 2;
    margin-left: 20px;
}

input.has-error:focus,
input.has-error {
    border-color: red;
    box-shadow: unset;
}

.serp-error {
    margin-left: 10px;
    color: red;
}

body.grwp-is-loading {
    overflow: hidden;
    pointer-events: none;
    transition: opacity .4s;
}

body.grwp-is-loading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #dedede;
    opacity: 0.7;
    z-index: 10000;
}

body.grwp-is-loading:after {
    content: url('../img/spinner.gif');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10005;
}

.form-table .regular-text {
    width: 100%;
    max-width: 700px;
}

.form-table .shortcode-container {
    color: black;
    cursor: text;
    border: 1px solid #1f6bae;
    margin-top: 1rem;
}

.form-table select,
.form-table input[type="text"],
.form-table input[type="number"] {
    min-width: 200px;
}
.form-table input[type="search"] {
    min-width: 400px;
    border: 1px solid #1f6bae;
}
